.dropdown-link {
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
  background-color: transparent;
}
.dropdown {
  border: none;
  margin-top: 2.5rem;
  border-radius: 0.5rem;
  min-width: auto !important;
  box-shadow: 0 3px 30px 5px rgb(0 0 0 / 20%);
}
.headless-link {
  padding: 0 !important;;
}
.text-gray {
  color: rgba(0, 0, 0, 0.55);
}
.text-gray:hover {
  color: #000;
}
.rounded-button {
  border-radius: 15px;
}
.ml-075 {
  margin-left: 0.75rem;
}
.ml-05 {
  margin-left: 0.5rem;
}
.ml-102 {
  margin-left: 1.2rem;
}
.snap-right-margin {
  margin-right: 0.5rem;
}
.m-nav-container {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.offcanvas {
  max-width: 70%;
}
.offcanvas-body {
  padding: 0rem 1.3rem;
}
.btn-close {
  font-size: 1.4rem;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

@media (min-width: 567px) {
  .container {
    max-width: none;
  }
}

@media (min-width: 700px) {
  .register {
    max-width: none;
  }
}

@media (max-width: 669px) {
  .link-arrows {
    display: none;
  }
}

@media (min-width: 678px) and (max-width: 717px) {
  .snap-right-margin {
    margin-right: 0.75rem;
  }
  .register-padding {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

@media (min-width: 768px) and (max-width: 809px){
  .snap-right-margin {
    margin-right: 1.55rem;
  }
  .register-padding {
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
  }
}
@media (min-width: 810px) {
  .snap-right-margin {
    margin-right: 2rem;
  }
  .register-padding {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}

/* .row.content { height: 70vh } */
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }