.headline {
  font-weight: 800;
}
.content {
  text-align: center;
}
.learn {
  background-color: #000;
  color: #fff;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .reverse {
    display: flex;
    flex-direction: row-reverse;
    border: 3px solid green !important;
  }
  .content {
    text-align: left;
    height: 600px;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid orange;
  }
  .content > p {
    margin-top: 1.5rem !important;
  }
  .content > div.container {
    padding-left: 0rem !important;
  }
  .image {
    max-width: 100%;
    border: 2px solid blue;
  }
  .headline > span {
    display: block;
  }
}
/* @media (min-width: 800px) {
  .content {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
  }
  .content > p {
    margin-top: 2.5rem !important;
    margin-right: 8rem;
  }
  .content > button {
    margin-top: 2rem !important;
  }
  
  .headline {
    font-size: 4rem;
  }
  
  .reverse {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding-right: 8rem;
    padding-left: 8rem;
    margin-right: auto;
    margin-left: auto;
  }
} */

