.headline {
  font-weight: 800;
}
.content {
  text-align: center;
}
.learn {
  background-color: #000;
  color: #fff;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .reverse {
    display: flex;
    flex-direction: row-reverse;
    border: 3px solid green !important;
  }
  .content {
    text-align: left;
    /* height: 600px; */
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid orange;
  }
  .content > p {
    margin-top: 1.5rem !important;
  }
  .content > div.container {
    padding-left: 0rem !important;
  }
  .image {
    max-width: 100%;
    border: 2px solid blue;
  }
  .headline > span {
    display: block;
  }
}
/* @media (min-width: 800px) {
  .content {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
  }
  .content > p {
    margin-top: 2.5rem !important;
    margin-right: 8rem;
  }
  .content > button {
    margin-top: 2rem !important;
  }
  
  .headline {
    font-size: 4rem;
  }
  
  .reverse {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding-right: 8rem;
    padding-left: 8rem;
    margin-right: auto;
    margin-left: auto;
  }
} */

/* font sizes */
@media (min-width: 860px)  and (max-width: 999px) {
  .headline {
    font-size: 2.4rem;
  }
}
@media (min-width: 920px)  and (max-width: 999px) {
  .headline {
    font-size: 2.7rem;
  }
}
@media (min-width: 1000px)  and (max-width: 1072px) {
  .headline {
    font-size: 3rem;
  }
}
@media (min-width: 1073px) and (max-width: 1129px) {
  .headline {
    font-size: 3.3rem;
  }
}
@media (min-width: 1130px) and (max-width: 1200px) {
  .headline {
    font-size: 3.5rem;
  }
}
@media (min-width: 1200px) and (max-width: 1270px) {
  .headline {
    font-size: 3.7rem;
  }
  .content > p {
    margin-right: 3rem;
  }
}
@media (min-width: 1271px) and (max-width: 1329px) {
  .headline {
    font-size: 4rem;
  }
  .content > p {
    margin-right: 3rem;
  }
}
@media (min-width: 1330px) and (max-width: 1400px) {
  .headline {
    font-size: 4.2rem;
  }
  .content > p {
    margin-right: 4rem;
  }
}
@media (min-width: 1401px) and (max-width: 1470px) {
  .headline {
    font-size: 4.3rem;
  }
}
@media (min-width: 1401px) and (max-width: 1829px) {
  .content > p {
    margin-right: 4.5rem;
  }
}
@media (min-width: 1471px) and (max-width: 1533px) {
  .headline {
    font-size: 4.5rem;
  }
}
@media (min-width: 1534px) and (max-width: 1629px) {
  .headline {
    font-size: 4.8rem;
  }
}
@media (min-width: 1630px) and (max-width: 1829px) {
  .headline {
    font-size: 5.2rem;
  }
}
@media (min-width: 1830px) and (max-width: 2000px) {
  .headline {
    font-size: 5.9rem;
  }
  .content > p {
    margin-right: 8rem;
  }
}
@media (min-width: 2001px) and (max-width: 2300px) {
  .headline {
    font-size: 5.9rem;
  }
  .content > p {
    margin-right: 12rem;
  }
}
@media (min-width: 2301px) {
  .headline {
    font-size: 7.5rem;
  }
  .content > p {
    margin-right: 12rem;
  }
}
